In [30]:
import pypyodbc as odbc
import pandas as pd
#from requests import head
#pip  install openpyxl for read_excel
"""
Step:1 Importing data set from csv
"""
df=pd.read_csv("C:/Users/shish/Desktop/DESK_TOP/DATA_SET_CSV/student_response.csv")
print(df)
df.columns

       roll_number  question_paper_code  question_number option_marked
0            10001                  501                1             b
1            10001                  501                2             a
2            10001                  501                3             e
3            10001                  501                4             e
4            10001                  501                5             e
...            ...                  ...              ...           ...
24095        10241                  103               36             c
24096        10241                  103               37             b
24097        10241                  103               38             a
24098        10241                  103               39             c
24099        10241                  103               40             e

[24100 rows x 4 columns]

Index(['roll_number', 'question_paper_code', 'question_number',
       'option_marked'],
      dtype='object')

In [31]:
'''
Step 2: Specify Column
'''
columns = ['roll_number', 'question_paper_code', 'question_number',
       'option_marked']
df_data= df[columns]
records=df_data.values.tolist()
records[:10]

[[10001, 501, 1, 'b'],
 [10001, 501, 2, 'a'],
 [10001, 501, 3, 'e'],
 [10001, 501, 4, 'e'],
 [10001, 501, 5, 'e'],
 [10001, 501, 6, 'b'],
 [10001, 501, 7, 'd'],
 [10001, 501, 8, 'e'],
 [10001, 501, 9, 'b'],
 [10001, 501, 10, 'a']]

In [21]:
# Define the connection string to the SQL database
conn_str = 'DRIVER={SQL Server};SERVER=DESKTOP-2TPQOB3\SQLEXPRESS;DATABASE=ANSWER;'
# Create a connection object
conn = odbc.connect(conn_str)
cursor = conn.cursor()

In [23]:
cursor.execute("DROP TABLE IF EXISTS ST_RESP;")
cursor.execute("CREATE TABLE ST_RESP (roll_number INTEGER, question_paper_code INTEGER, question_number INTEGER, option_marked NVARCHAR(10));")

In [27]:
'''
Step 3.2 Create a cursor connection
'''
sql_insert = '''
    INSERT INTO ST_RESP
    Values(?, ?, ?, ?)
'''

In [28]:
cursor.executemany(sql_insert,records)
cursor.commit()

In [29]:
cursor.close()
conn.close()